.avatar
{
    width: 200px; height: 180px;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
}
.bio-info
{
    text-align:center;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(7, 70, 129);
    width: 100px;
}
.info
{
    display: flex;
    flex-direction: row;
}
.info-group
{
    display: flex;
    flex-direction: column;
    
}
body
{
background-color: rgb(37, 93, 107);
}

.title
{
    text-align:center;
    font-size: 36px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 30px;
    background-color: rgb(7, 70, 129);
}
.bio-info1
{
    font-family: "Times New Roman", Georgia, Serif;
    line-height: 50px;
}
.skills
{
    display: flex;
    flex-direction: row;
}
.skill
{
    text-align:left;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(7, 70, 129);
    width: 100px;
    margin-left: 40px;
    margin-top: 20px;
}
.info-skills
{
    font-family: "Times New Roman", Georgia, Serif;
    line-height: 50px;
    margin-left: 40px;
   
}
.skill-group
{
    display: flex;
    flex-direction: column;
}
.p
{
margin-bottom: 5px;
}
.pp
{
margin-bottom: 5px;
} 
.ppp
{
    margin-bottom: 5px;

}
.pppp
{
    margin-bottom: 5px;
}
.cods
{
    display: flex;
    flex-direction: row;  
}
.cods-group
{
    display: flex;
    flex-direction: column;
}
.cod
{
    text-align:left;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(7, 70, 129);
    width: 150px;
    margin-left: 40px;
     
}
.codder
{
    font-family: "Times New Roman", Georgia, Serif;
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
    background-color: rgb(16, 4, 49); 
    color:  rgba(245,4,4,1);

}
.podval
{
    display: flex;
    flex-direction: row;
}
.kont-info
{
    display: flex;
    flex-direction: column;
}
.pinfo
{
    font-family: "Times New Roman", Georgia, Serif;
    text-align:left;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(7, 70, 129);
    width: 400px;
    margin-left: 40px;
    margin-top: 20px;
}
.tg
{
    margin-bottom: 10px
}